app/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>chelink</title>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="icon" href="favicon.ico"/>
  </head>
  <body>
    <div id="wrapper">
      <div id="first">1) Select file<br><br>
        <input id="fileInput" type="file" name="files"/>
      </div>
      <div id="second">2) Click to parse file<br><br>
        <button id="parseButton">parse file</button>
        <button id="viewDomains" onclick="viewDomains()">view domains</button>
        <button id="viewLinks" onclick="viewLinks()">view links</button>
      </div>
      <div id="third">3) Divide results by
        <input type="text" id="divideInput" name="a" value="500"/><br><br>
        <button id="divideButton">divide</button>
      </div>
    </div>
    <div class="modal parseResults fade bs-example-modal-sm">
      <div class="modal-dialog">
        <div class="modal-content">
          <div id="longString" class="modalDiv"></div>
          <button data-dismiss="modal" style="margin-left:15px">close</button>
        </div>
      </div>
    </div>
    <div class="modal parseResults2 fade bs-example-modal-sm">
      <div class="modal-dialog">
        <div class="modal-content">
          <div id="array" class="modalDiv"></div>
          <button data-dismiss="modal" style="margin-left:15px">close</button>
        </div>
      </div>
    </div>
    <script src="js/app.js"></script>
  </body>
</html>

jade/index.jade
<!DOCTYPE html>
html(lang='en')
	head
		meta(charset='UTF-8')
		title chelink
		link(rel="stylesheet", href="css/main.css")
		link(rel="icon", href="favicon.ico")
	body
		#wrapper
			#first
				|1) Select file<br><br>
				input#fileInput(type='file', name='files')
				//- button#fileInputButton select file
			#second
				|2) Click to parse file<br><br>
				button#parseButton parse file
				button(id="viewDomains" onclick='viewDomains()') view domains
				button(id="viewLinks" onclick='viewLinks()') view links
			#third
				|3) Divide results by
				input(type="text" id="divideInput" name="a" value="500")
				<br><br>
				button#divideButton divide
		.modal.parseResults.fade.bs-example-modal-sm()
			.modal-dialog
				.modal-content
					#longString.modalDiv
					button(data-dismiss="modal" style="margin-left:15px") close
		.modal.parseResults2.fade.bs-example-modal-sm()
			.modal-dialog
				.modal-content
					#array.modalDiv
					button(data-dismiss="modal" style="margin-left:15px") close
		script(src='js/app.js')
